<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type="email" name="input" ng-model='user.username' required>
    <div role="alert">
    	<span ng-show="signinForm.input.$error.email">Invalid Email</span>
    	<span ng-show="signinForm.input.$error.required">Required</span>
    </div>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
